<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <div >
              <h1>Log in</h1>
              <%= form_for :session, url: login_path do |f| %>
                  <%= f.label :username, class: "text-center h5 mb-0 pb-0"%><br />
                  <%= f.text_field :username, placeholder: 'Your username here' %>
                  </p>

                <%= f.submit "Log in", class: "btn btn-primary px-5"  %>
              
              <% end %></br>
              <%= link_to "Sign up", new_user_path, class: 'h5' %>
            </div>
          </div>
      </div>
</div>