<div class="">

	<article class="media box">
		
		<div class="media-content w-100">
          <%= render 'form'%>
		</div>
	</article>


	<div class="box w-100 bg-white border mt-3 ">
		<h5 class= "border-bottom p-2">New Reviews<h5>
		<div class="h-100">
		<% @reviews.each do |review| %>

			<div class="">
				
				<article class="media p-2">
					<div class="media-left">
						<div class="picture pr-3 ">
							<% unless review.author[:Photo].nil? %>
									<%= image_tag review.author.Photo.thumb.url %>
							<% else %>
								<%= gravatar_for current_user, size: 60 %> 
							<%end%>         
						</div>
					</div>
						<div class="tweet-content">
								<span class="d-block"><%= link_to review.author.fullname.upcase, user_path(review.author) %></span>
								<span> <%= review.Text %></span>
								<div class='review-liking'>
									<span class='review-date'> <%= review.created_at.strftime("%Y/%m/%d") %> </span>
									<span><%= like_or_dislike_btn(review) %></span>
									<% if review.likes.any? %>
                    <span><%= "#{pluralize(review.likes.size, 'like')}" %></span>
                  <% end %>
								</div>
							</div>
				</article>
			</div>
			
		<% end %>
		</div>
	</div>
</div>