<div class= "">
<%= form_for @review, url: reviews_path do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
     <div class="bg-white rounded border p-2">
      <span class="d-block"> WANT TO REVIEW?</span>
      <div class = "d-flex flex-column align-items-start">
      <div class="field w-100">
       
        <%= form.text_area :Text, placeholder: "Compose your review", class: "w-100 p-2" %>
      </div>
      <div class="actions">
        <%= form.submit 'Tweet review', class: "p-2 btn-primary" %>
      </div>
     </div>
     </div>  
  <% end %>
</div>