<div class="side-nav d-flex flex-column text-white-50 h-100">
  <div class="current_user d-flex justify-content-center p-3">
    <div class="current_picture">
      <% unless current_user[:Photo].nil? %>
          <%= image_tag current_user.Photo.thumb.url %>
      <% else %>
        <%= gravatar_for current_user, size: 60 %> 
      <%end%>        
    </div>
    <span class="pt-3 pl-2"><%= current_user.fullname.upcase %></span>
  </div>
  <div class="user-followers d-flex w-100 justify-content-around">
      <div class="followers-number pr-5">
        <p class="text-center"><%= current_user.followeds.count%></p>
        <p class="">Following</p>
      </div>

      <div class="">
        <p class="text-center"><%= current_user.followers.count%></p>
        <p class="">Followers</p>
      </div>
   
  </div>
  <div class="side-links pt-3">
    <div class="active side-link-div">
      <i class="fas fa-home"></i>
      <%= link_to 'HOME', reviews_path, class: "link-paths text-primary pl-3" %>
    </div>
    <div class="side-link-div">
      <i class="fas fa-user"></i>
      <%= link_to 'PROFILE', user_path(current_user.id), class: "text-primary link-paths pl-3" %>
    </div>
    <div class=" side-link-div">
      <i class="fas fa-power-off"></i>
      <%=  link_to 'LOGOUT', logout_path, method: :delete, class: "text-primary link-paths pl-3" %>
    </div>
  </div>
</div>